html{
    background-color: beige;
    text-align: center;
}

#about-section{
    font-family: monospace;
    color: brown;
}

#Project-list ol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: inline;
    font-style: italic;
}